/* 由于container最大宽度为1140px，而设计稿是1280的，所以手动更改 */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  text-decoration: none;
}

.row header {
  padding-left: 0;
}

.logo {
  background-color: #429ad9;
}

.logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.logo span {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.nav {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width:992px) {
  .nav li {
    float: left;
    width: 20%;
  }

  ul {
    width: 100%;
  }

  article {
    padding-top: 10px;
  }
}

@media screen and (max-width:576px) {
  .nav li a {
    font-size: 14px;
  }
}

.nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
}

.nav li:hover {
  background-color: #fff;
  color: #333;
}

.nav a svg {
  vertical-align: middle;
  padding-right: 5px;
}

.news li {
  float: left;
  width: 25%;
  height: 128px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.news li:first-child {
  width: 50%;
  height: 266px;
}

.news li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.news li a img {
  width: 100%;
  height: 100%;
}

.news li:first-child p {
  line-height: 41px;
  font-size: 20px;
  padding: 0 10px;
}

.news li a p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, .5);
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
}

@media screen and (max-width:576px) {
  .nav li a {
    font-size: 14px;
  }

  .news li {
    width: 50%;
  }

  .news li:first-child {
    width: 100%;
  }

  .publish h3 {
    font-size: 14px;
  }

  .publish p {
    font-size: 10px;
  }
}

.publish {
  border-top: 1px solid #ccc;
}

.publish .row {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.pic {
  margin-top: 10px;
}

.pic img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.banner img {
  width: 100%;
}

.hot {
  display: block;
  border: 1px solid #ccc;
  padding: 0 20px 20px;
  margin-top: 20px;
}

.hot span {
  border-radius: 0;
  margin-bottom: 20px;
}

.hot p {
  font-size: 12px;
}